:root{
    --dark-color:hsl(182, 97%, 15%);
    --light-color:hsl(202, 50%, 97%);
    --bg-color:hsl(185, 41%, 84%);
    --results-color:hsl(170, 69%, 45%);
    --active-color:hsl(173, 61%, 77%);
}

select {
    border-style: inset;
    outline-color: orange;
 }

/* Hides input arrows for number input boxes */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body{
    background: var(--bg-color);
    font-family: 'Space Mono', monospace;
}

h1{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .7rem;
}

main{
    position: relative;
}

.logo{
    margin: 100px 50%;
    border:1px solid black;
    width:fit-content;
    width:-moz-fit-content;
    padding: 15px;
    
}

.calculator{
    width: 750px;
    height: 375px;
    background-color: white;
    margin: 0 auto;
    border-radius: 15px;
}

.custom-modal{
    width: 750px;
    height: 375px;
    background-color: white;
    /* margin: 0 auto; */
    position: absolute;
    top:196px;
    left:585px;
    outline:1px solid red;
    border-radius: 15px;
    display: none;
}

.custom-modal--visible{
    display: block;
}

footer{
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
}

.attribution{
    background-color: aqua;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 25px 30px;
}

.calculator-calculation{
    width: 50%;
    height: fit-content;
}

.calculator-calculation p{
    font-weight:600;
    margin-bottom: 10px;
}

.calculator-results{
    border-radius: 5px;
    width: 50%;
    background-color: var(--dark-color);
    padding:25px 20px 20px 20px;

}

.calculator-results__display-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border:2px solid red; */
}
.calculator-results__display-container:first-child{
    margin-bottom: 3rem;
}

.calculator-results__tip-total-text{
    font-weight: 600;
    color: white;
    font-size: .9rem;
}

.calculator-results__per-person{
    font-size: .7rem; 
    font-weight: 500;
    padding:7px;
    color: var(--light-color) !important;
}


.calculator-results__display-amount{
    font-size: 3rem;
    font-weight: 800;
    color: var(--results-color);
}

.calculator-calculation__grid{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns:auto;
    height: 100px;
    gap: 40px;
    padding-right: 30px;
}

.calculation-amount-input, .calculation__people-input{
    width: 100%;
    background:var(--light-color);
    font-size: 1rem;
    font-weight: 700;
    color: var(--dark-color);
    border-style: none;
    border-radius: 5px;
    padding:10px 10px;
    text-align: right;
}

.calculation-amount-input:focus{
    border:var(--dark-color) 1px solid !important;
    box-shadow: 0 0 2pt 1pt var(--results-color);
    outline: none;
}

.calculation__people-input:focus{
    border:var(--dark-color) 1px solid !important;
    box-shadow: 0 0 2pt 1pt var(--results-color);
    outline: none;
}

.calculation-amount-input--error{
    border:red 1px solid;
    box-shadow: 0 0 2pt 1pt red;
}

.calculation__people-input--error{
    border:red 1px solid;
    box-shadow: 0 0 2pt 1pt red;
}

.calculation-amount__err-msg{
    display: none;
}

.calculation-amount__err-msg--active{
    display: block;
    text-align: right;
    color:red;
    font-size: .8rem;
    margin-top: 6px;
}

.calculation__people-input-err-msg{
    display:none;
}

.calculation__people-input-err-msg--active{
    display: block;
    text-align: right;
    color:red;
    font-size: .8rem;
    margin-top: 6px;
}

.calculation__buttons-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculation__row{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.calculation__row:last-child{
    margin-bottom: 0px;
}

.calculation__btn{
    padding: 10px;
    /* border: orange solid 2px; */
    width: 95px;
    text-align: center;
    background: #014749;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}

.calculation__btn:hover{
    background-color: var(--results-color);
    color: white;
}

.calculation__btn--active{
    background-color: var(--active-color);
    color: black;
}

.custom{
    background: #F3F8FB !important;
    color: black;
}

.custom:hover{
    background-color: var(--results-color) !important;
    color: white;
}

#reset-button{
    margin: 65px auto 40px auto;
    max-width: 330px;
    background-color: var(--results-color);
    padding:20px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    cursor: pointer;
    
}
#reset-button:hover{
    background-color: var(--active-color);
}

.reset-button-draft{
    float:right;
}