:root{
    --dark-color:hsl(182, 97%, 15%);
    --light-color:hsl(202, 50%, 97%);
    --bg-color:hsl(185, 41%, 84%);
    --results-color:hsl(170, 69%, 45%);
    --active-color:hsl(173, 61%, 77%);
}

select {
    border-style: inset;
    outline-color: orange;
 }

/* Hides input arrows for number input boxes */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body{
    background: var(--bg-color);
    font-family: 'Space Mono', monospace;
    padding-top: 50px;
}

main{
    position: relative;
    margin: 50px auto;
}

.logo{
    margin: 0 auto;
    border:1px solid black;
    width:fit-content;
    width:-moz-fit-content;
    padding: 15px;
    
}

.logo h1{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .7rem;
}

.calculator{
    width: 750px;
    height: 375px;
    background-color: white;
    margin: 50px auto;
    border-radius: 15px;
    z-index: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 25px 30px;
}

.instructions{
    max-width: 750px;
    width: 750px;
    margin: 10px auto;
    padding:10px 15px;
    outline: purple 1px solid;
    text-align: left;

}

.instructions__title{
    display: flex;
    position: relative;
    width: fit-content;
    margin-bottom: 10px;
    font-weight: 700;

}

.instructions__title-img{
    cursor: pointer;
    float: right;
    position: inherit;
    top:-2px;
    width: 20px;
    transform: scaleY(1);
    transition: transform .3s ease-in-out;
}

.instructions__title-img--active{
    transform: scaleY(-1);
}

.instructions__content{
    /* outline: red solid 1px; */
    display: none;
    visibility:hidden ;
    opacity: 0;
    transition: visibility .1s ease-in-out, opacity 7s ease-in-out ;
}

.instructions__content--active{
    display: block;
    opacity: 1;
    visibility:visible;
    
}

.custom-modal{
    width: 750px;
    height: 375px;
    padding: 25px 30px;
    background-color: white;
    margin: -25px auto;
    position: absolute;
    /* outline:1px solid red; */
    border-radius: 15px;
    display: none;
    z-index: 1;
    opacity: 0;
   
}

.custom-modal--visible{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.custom-modal h1{
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 25px;
}



footer{
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
}

.attribution{
    background-color: aqua;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.calculation-bill{
    position: relative;
}

.calculation-item3{
    position: relative;
}

.calculation-bill__dollarsign-img, .calculation-bill__people-img{
    position: absolute;
    top:36px;
    left:10px;
}

.custom-modal__percent-imgbox{
    position: absolute;
    width: 20px;
    left:16px;
    top:80px;
}

.custom-modal__percent-img{
    width: 1.8rem;
}

.custom-modal__box{
    position: relative;
}



.calculator-calculation{
    width: 50%;
    height: fit-content;
}

.calculator-calculation p{
    font-weight:600;
    margin-bottom: 10px;
}

.calculator-results{
    border-radius: 5px;
    width: 50%;
    background-color: var(--dark-color);
    padding:25px 20px 20px 20px;
}

.calculator-results__display-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.calculator-results__display-container:first-child{
    margin-bottom: 3rem;
}

.calculator-results__tip-total-text{
    font-weight: 600;
    color: white;
    font-size: .9rem;
}

.calculator-results__per-person{
    font-size: .7rem; 
    font-weight: 500;
    padding:7px;
    color: var(--light-color) !important;
}


.calculator-results__display-amount{
    font-size: 3rem;
    font-weight: 800;
    color: var(--results-color);
}

.calculator-calculation__grid{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns:auto;
    height: 100px;
    gap: 40px;
    padding-right: 30px;
}

.calculation-amount-input, .calculation__people-input{
    width: 100%;
    background:var(--light-color);
    font-size: 1rem;
    font-weight: 700;
    color: var(--dark-color);
    border-style: none;
    border-radius: 5px;
    padding:10px 10px;
    text-align: right;
}

.calculation-amount-input:focus{
    border:var(--dark-color) 1px solid !important;
    box-shadow: 0 0 2pt 1pt var(--results-color);
    outline: none;
}

.calculation__people-input:focus{
    border:var(--dark-color) 1px solid !important;
    box-shadow: 0 0 2pt 1pt var(--results-color);
    outline: none;
}

.calculation-amount-input--error{
    border:red 1px solid;
    box-shadow: 0 0 2pt 1pt red;
}

.calculation__people-input--error{
    border:red 1px solid;
    box-shadow: 0 0 2pt 1pt red;
}

.calculation-amount__err-msg{
    display: none;
}

.calculation-amount__err-msg--active{
    display: block;
    text-align: right;
    color:red;
    font-size: .8rem;
    margin-top: 6px;
}

.calculation__people-input-err-msg{
    display:none;
}

.calculation__people-input-err-msg--active{
    display: block;
    text-align: right;
    color:red;
    font-size: .8rem;
    margin-top: 6px;
}

.calculation__buttons-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculation__row{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.calculation__row:last-child{
    margin-bottom: 0px;
}

.calculation__btn{
    padding: 10px;
    width: 95px;
    text-align: center;
    background: var(--dark-color);
    color: white;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}

.calculation__btn:hover{
    background-color: var(--results-color);
    color: white;
}

.calculation__btn--active{
    background-color: var(--active-color) !important;
    color: black !important;
}

.custom{
    background: #F3F8FB;
    color: black;
}

.custom:hover{
    background-color: var(--results-color) !important;
    color: white;
}

#reset-button{
    margin: 65px auto 40px auto;
    max-width: 330px;
    background-color: var(--results-color);
    padding:20px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    cursor: pointer;
    
}
#reset-button:hover{
    background-color: var(--active-color);
}

.reset-button-draft{
    float:right;
}

.custom-modal__inputfield{
    width: 100%;
    background:var(--light-color);
    font-size: 2rem;
    font-weight: 700;
    color: var(--dark-color);
    border-style: none;
    border-radius: 5px;
    padding:10px 10px;
    text-align: center;
    margin-bottom: 5px;
}

.custom-modal__inputfield{
    border:var(--dark-color) 1px solid !important;
    box-shadow: 0 0 2pt 1pt var(--results-color);
    outline: none;
}

.custom-modal__inputfield--err{
    border:red 1px solid !important;
    box-shadow: 0 0 2pt 1pt red;
}

.custom-modal__btn-container{
    display: flex;
    margin-top: 10px;
}

#custom-calculate-btn, #custom-modal__close-btn{
    padding: 10px;
    width: fit-content;
    width: -moz-fit-content;
    text-align: center;
    background: var(--dark-color);
    color: white;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}

#custom-calculate-btn{
    margin-right: 10px;
}


#custom-calculate-btn:hover, #custom-modal__close-btn:hover{
    background-color: var(--results-color);
    color: white;
}

.custom-modal__error-msg{
    display: none;
}

.custom-modal__error-msg--active{
    display: block;
    color: red;
    font-size: .8rem;
    margin-top: 2px;
}

@media (min-width: 320px) and (max-width: 480px) {

    body{
        padding-top: 0px;
    }

    main{
        margin-top: 20px;
    }

    .logo h1{
        font-size: 1rem;
    }
  
    .calculator-calculation{
        width:100%
    }

    .calculator{
        flex-direction: column;
        justify-content: space-between;
        width: 95vw;
        height: fit-content;
        height: -moz-fit-content;
        margin:20px auto;
    }

    .calculator-calculation__grid{
        height: fit-content;
        height: -moz-fit-content;
        gap:30px;
        grid-template-rows: none;
        padding-right: 0;
    }
    .calculator-results{
        width: 100%;
        margin-top: 30px;
    }
  
    .calculator-results__display-amount{
        font-size: 2.1rem;
    }
    .calculator-results__display-container:first-child{
        margin-bottom: 1rem;
    }
    .calculator-results__tip-total-text{
        font-size: .8rem;
    }

    .calculation-amount-input, .calculation__people-input{
        text-align: center;
    }

    #reset-button{
        margin: 15px auto 20px auto 
    }

    .custom-modal{
        margin:-15px -22px
    }

    .custom-modal--visible{
        flex-direction: column;
        justify-content: center;
        width: 90%;
        height: 82%;
    }

    .custom-modal h1{
        font-size: 1.4rem;
        font-weight: 800;
        margin-bottom: 10px;
    }

    .custom-modal__inputfield{
        font-size: 1.2rem;
    }

    .calculation__btn{
        width:85px;
        padding:8px;
        font-size: .9rem;
    }

    .custom-modal__percent-imgbox{
        left:13px;
        top:45px;
    }
    .custom-modal__percent-img{
        width: 1.1rem;
    }

    .instructions{
        width: 95vw;
        min-width: 320px;
    }
  }
